::-webkit-scrollbar {
	display: none;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #000000;
	height: 100vh;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: flex;
	background: #0e0e0e;
	color: #fff;
	padding: 6px 50px;
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	padding: 20px;
	color: #fff;
	width: 100%;
	height: 76vh;
}

.slackProfilePictureContainer {
	background-image: url("profile.jpg");
	width: 30%;
	height: 100%;
	background-color: #171717;
	background-size: cover;
	margin-right: 4rem;
}

.slackProfilePictureContainer img {
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
}

.aboutContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
	height: 100%;
}

.goals h2 {
	font-size: 3rem;
	line-height: 1px;
	font-weight: 800;
}

.goals p {
	font-size: 1.3rem;
	background-color: #0e0e0e;
	padding: 18px;
	border-radius: 8px;
}

.ContactInfoContainer1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
}
.ContactInfoContainer2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
}

.ContactInfo {
	display: flex;
	flex-direction: column;
	line-height: 1px;
	font-family: "Courier New", Courier, monospace;
	color: #fff;
}

.ContactInfo p {
	font-size: 18px;
}

footer {
	background: #0e0e0e;
	color: #fff;
	text-align: center;
	padding: 5px 0;
}

h2 {
	color: #ffffff;
}

section {
	margin-bottom: 20px;
}

ul {
	display: flex;
	list-style: none;
	padding: 0;
}

ul li {
	margin-right: 15px;
}

a {
	color: #cdcecf;
	text-decoration: none;
}

a:hover {
	padding-bottom: 6px;
	border-bottom: 2px solid #fff;
	transition: 0.15s ease-in;
}

/* Responsive Design */
@media (max-width: 1080px) and (min-width: 750px) {
	body {
		display: flex;
		height: 130vh;
	}

	main {
		flex-direction: column-reverse;
		margin-top: 17rem;
		gap: 2rem;
	}

	.goals h2 {
		font-size: 2rem;
	}

	.goals p {
		font-size: 1rem;
	}

	.slackProfilePictureContainer {
		width: 50%;
		height: 70%;
		margin-top: 2rem;
		margin-bottom: 12rem;
	}

	.aboutContainer {
		width: 80%;
		height: 50%;
	}

	.ContactInfoContainer1 {
		width: 100%;
	}
	.ContactInfoContainer2 {
		justify-content: space-around;
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	header {
		padding: 4px 15px;
	}

	header div img {
		width: 60%;
	}
	header h1 {
		font-size: 1.4rem;
	}

	main {
		flex-direction: column-reverse;
		margin-top: 30rem;
		gap: 2rem;
	}

	.goals h2 {
		font-size: 1.5rem;
	}

	.goals p {
		font-size: 0.9rem;
	}

	.slackProfilePictureContainer {
		width: 90%;
		height: 70%;
		margin-top: 10rem;
		margin-bottom: 20rem;
	}

	.aboutContainer {
		width: 100%;
		height: 40%;
		justify-content: center;
		align-items: center;
	}

	.ContactInfoContainer1 {
		width: 100%;
	}
	.ContactInfoContainer2 {
		justify-content: space-around;
		flex-direction: column;
		width: 100%;
	}

	.ContactInfo {
		width: 100%;
	}
	.link {
		width: 100%;
	}
}
